[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==3.2.3"
pytest-cov = "==2.5.1"
codacy-coverage = "*"
mock = "==2.0.0"
moto = "==1.1.24"
cdisutilstest-0-2-5 = {editable = true,git = "https://github.com/uc-cdis/cdisutils-test.git",ref = "0.2.5"}
elasticsearch = "==6.3.1"
elasticsearch-dsl = "==6.2.1"

[packages]
cdislogging = "==1.0.0"
cryptography = ">=2.1.2"
dictionaryutils = "==3.0.2"
elasticsearch = "==6.3.1"
elasticsearch-dsl = "==6.2.1"
gen3datamodel = "==3.0.2"
hdfs = "==2.1.0"
psqlgraph = "==3.0.1"
psycopg2 = "==2.8.4"
pyspark = "==2.4.4"
requests = ">=2.20.0"
six = "==1.12.0"
Werkzeug = "==0.15.3"

[requires]
python_version = "3.8"
